<div class="container article">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<div class="post">
				<h1>O blogu</h1>
				<hr class="black" />
				<h3>O projekcie</h3>
				<p>Niniejszy blog powstał w środowisku Ruby on Rails. Kod źródłowy można znaleźć w moim <a href="https://github.com/natra/kasztaniaki-blog">repozytorium na Github</a>. Projekt zakłada stworzenie aplikacji oraz wypełnienie jej treścią w postaci co najmniej 20 wpisów. Nie wykluczam kontynuowania serii w przyszłości (od sezonu 2016/2017).</p>
				<h3>O blogu</h3>
				<p>Blog traktuje o największej grze typu fantasy – Fantasy Premier League. Celem bloga jest przedstawienie mojego procesu myślowego przy prowadzeniu tytułowej drużyny. Czym kieruję się przy podejmowaniu kolejnych decyzji, jakie ustalam priorytety, jakie snuję plany.</p>
			</div>
		</div>
	</div>
</div>

