<div class="container article">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

			<h1>StaticPages#contact</h1>
			<p>Find me in app/views/static_pages/contact.html.erb</p>

		</div>
	</div>
</div>
