<h1 class="sub-header">Team Selecions</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Position</th>
        <th>Club</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @team_selections.each do |team_selection| %>
        <tr>
          <td><%= team_selection.id %></td>
          <td><%= team_selection.name %></td>
          <td><%= team_selection.position %></td>
          <td><%= team_selection.club_id %></td>
          <td><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></td>
          <td><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
