<div class="container message">
  <div class="row text-center">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <hr class="black wider">
     <br>
      <h2>Dziękuję za wiadomość!</h2>
      <p>Odpiszę w najbliższej wolnej chwili.</p>
      <br>
      <hr class="black wider">

    </div>
  </div>
</div>