<div class="container article">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post">
      	<h1><%= @post.title %></h1>
        <hr class="black" />
				<%== @post.content %>
        <div class="pub-date">
          <%= I18n.l @post.created_at, :format => :post %>
        </div>
        
      </div>       
			<hr class="black">
			<%= render 'disqus' %>
    </div>
  </div>
</div>


