<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-xs-10 col-xs-offset-1 copyright-div">
                <p class="copyright text-muted">Copyright &copy; Kasztaniaki 2016</p>
            </div>
             <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-xs-10 col-xs-offset-1 media-footer-div">
            
                <ul class="list-inline text-center">
                    <li>
                        <%= link_to "https://twitter.com/Natra_" do %>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to "https://github.com/natra/kasztaniaki-blog" do %>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        <% end %>
                    </li>
                </ul>
        </div>
            
        </div>
    </div>
</footer>